<h1> Welcome home! </h1>

<form method="GET" action="/search">
    <label for="city">City</label>
    <input type="text" name="city" id="city" value="" required>
    <label for="state">State</label>
    <input type="text" name="state" id="state" value="" required>
    <button type="submit">submit!</button>
    <a href="/favorites">View Favorites</a>
   
</form>